@charset "UTF-8";

body {
  margin: 0;
  padding: 0;
  background: url("./images/mountain.jpg");
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
}

ul {
  margin: 0;
  padding: 0;
}

h2 {
  background: #228b22;
  color: #fff;
  text-align: center;
  background: -webkit-repeating-linear-gradient(-45deg, #228b22, #228b22 3px, #008000 3px, #008000 7px);
  background: repeating-linear-gradient(-45deg, #228b22, #228b22 3px, #008000 3px, #008000 7px);
}

header {
  height: 50px;
  margin-top: 20px;

  .logo {
    font-family: 'Bowlby One SC', cursive;
    float: left;
    color: #228b22;
    line-height: 50px;
    font-size: 32px;
    font-weight: bold;
    margin-left: 30px;
  }

  .global-nav {
    float: right;
    margin-right: 50px;
    line-height: 50px;

    ul {
      list-style: none;

      li {
        font-family: 'Bowlby One SC', cursive;
        float: left;
        width: 100px;
        font-size: 20px;
        text-align: center;

        a {
          color: #fff;
          text-decoration: none;

          &:hover {
            border-bottom: 2px solid #fff;
          }
        }
      }
    }
  }
}

#wrap {
  clear: both;
  background: #228b22;
  margin-top: 700px;

  .content {
    width: 960px;
    margin: 0 auto;
    background: #fff;
    padding: 30px 50px;

    .flowers {
      margin-bottom: 50px;
      ul {
        list-style: none;
        text-align: center;
        li {
          width: 280px;
          margin-bottom: 25px;
          padding: 0 20px;
          float: left;

          img {
            width: 200px;
            border-radius: 50%;
          }

          .name {
            font-weight: bold;
            font-size: 20px;
            margin-top: 5px;
          }
        }
      }
    }

    .mountain-landscapes {
      width: 960px;
      overflow: hidden;
      position: relative;
      margin-bottom: 50px;

      .slide-set {
        position: absolute;
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          li {
            float: left;
            img {
              width: 960px;
            }
          }
        }
      }

      .slide-dots {
        width: 228px;
        margin: 0 auto;
        ul {
          list-style: none;
          li {
            float: left;
            margin: 14px;
            .dot {
              width: 13px;
              height: 13px;
              background: #fff;
              border: 2px solid #228b22;
              border-radius: 50%;
            }
          }
        }
      }
    }

    .tree-list {
      margin-bottom: 50px;
      table {
        width: 800px;
        margin: 0 auto;
        border-spacing: 0;
        border-collapse: collapse;
      }
      tr {
        font-size: 18px;
        line-height: 2.5;
        th {
          background: #228b22;
          width: 200px;
          border: 1px solid #006400;
          color: #fff;
        }

        td {
          border: 1px solid #006400;
          width: 600px;
          padding-left: 20px;
        }
      }
    }

    .inquiry-form {
      background: #dcdcdc;
      padding: 30px 0;

      legend {
        padding-left: 100px;
        font-size: 18px;
        font-weight: bold;
      }

      dl {
        dt, dd {
          padding: 10px 0;
        }
        dt {
          width: 150px;
          padding-left: 100px;
          float: left;
        }

        dd {
          .name, .email {
            width: 300px;
            height: 30px;
            font-size: 16px;
            border: none;
          }
          .message {
            width: 500px;
            height: 150px;
            font-size: 16px;
            border: none;
          }
        }
      }

      .btn {
        font-family: 'Raleway', sans-serif;
        margin-left: 250px;
        width: 120px;
        font-size: 24px;
        color: #fff;
        line-height: 40px;
        background: #228b22;
        border: 3px solid #228b22;
        border-radius: 5px;

        &:hover {
          background: #fff;
          color: #228b22;
          cursor: pointer;
        }
      }

      .attention {
        margin: 40px 0 0 250px;
        p {
          font-size: 14px;
        }
      }

      .required:after {
        content: "*";
        color: #f00;
      }
    }

    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }
}
